@model IEnumerable<QLHS.Models.BangDiem>

@{
    ViewBag.Title = "Xem Điểm";
    Layout = "~/Views/Shared/_LayoutMainHS.cshtml";
}

<section id="main-content">
    <section class="wrapper">
        <h2>Điểm Thi</h2>
        @using (Html.BeginForm("XemDiem", "BangDiem", FormMethod.Get))
        {
            <table class="table">
                <tr>
                    <th style="color:black">
                        <span>Môn</span>
                    </th>
                    <th style="color:black">
                        <span>Điểm</span>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="color:black">
                            @Html.DisplayFor(modelItem => item.TenMon)
                        </td>
                        <td style="color:black">
                            @Html.DisplayFor(modelItem => item.Diem)
                        </td>
                    </tr>
                }

            </table>
        }

    </section>
</section>
