@model QLHS.Models.MonHoc

@{
    ViewBag.Title = "Thêm Môn Học";
    Layout = "~/Views/Shared/_LayoutMainAdmin.cshtml";
}

<style>
    .field-validation-error {
        color: red;
    }
</style>

<section id="main-content">
    <section class="wrapper">
        <section class="w3l-hotair-form">
            <div class="container">
                <!-- /form -->
                <div class="workinghny-form-grid">
                    @using (Html.BeginForm())
                    {
                        <div class="main-hotair">
                            <div class="content-wthree">
                                @Html.AntiForgeryToken()
                                <h3>Thêm Môn Học</h3>
                                <form action="#" method="post">
                                    <div class="user-detail">
                                        <div class="input-box">
                                            <span class="detail">Tên Môn</span>
                                            @Html.EditorFor(model => model.TenMon, new { htmlAttributes = new { @class = "form-control", style = "field-validation-error" } })
                                            @Html.ValidationMessageFor(model => model.TenMon, "", new { @class = "text-danger" })
                                        </div>
                                        @if (ViewBag.Error != null)
                                        {
                                            <div class="input-box">
                                                <span class="detail" style="color: red">@ViewBag.ErrorMessage</span>
                                            </div>
                                        }
                                    </div>
                                    <button class="btn" type="submit">Thêm</button>
                                </form>
                            </div>
                            <div class="w3l_form align-self">
                                <div class="left_grid_info">
                                    <img src="~/images/1.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- //form -->
            </div>
        </section>
    </section>
</section>